<a href="https://colab.research.google.com/github/younghwani/pandas_test/blob/main/testPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# file로부터 data 읽어오기
R_file = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
Remonade = pd.read_csv(R_file)

B_file = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
Boston = pd.read_csv(B_file)
 
I_file = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
Iris = pd.read_csv(I_file)

In [ ]:
# Data Shape 으로 data 확인하기
print(Remonade.shape)
print(Boston.shape)
print(Iris.shape)

(6, 2)
(506, 14)
(150, 5)

In [ ]:
# colunm name
print(Remonade.columns)
print(Boston.columns)
print(Iris.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

In [ ]:
# independent, dependent variable
indep = Remonade[['온도']]
dep = Remonade[['판매량']]
print(indep.shape, dep.shape)

indep = Boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
dep = Boston[['medv']]
print(indep.shape, dep.shape)

indep = Iris[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
dep = Iris[['품종']]
print(indep.shape, dep.shape)

(6, 1) (6, 1)
(506, 13) (506, 1)
(150, 4) (150, 1)

In [ ]:
Remonade.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [ ]:
Boston.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
Iris.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa